@using System.Data;
@using System.Data.SqlClient;
@using Newtonsoft.Json;
@model IEnumerable<TubewellDataClass>

<link href="~/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


<body>
    <div class="portlet-title">
        <div class="row" style="opacity:0.9">
            <div class="portlet-body">
                <div class="widget stacked">
                    <div class="widget-content">
                        <div>
                            <center>
                                <div id="chartdiv" style="width: 95%; height: 500px"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);" />




    <script type="text/javascript">

        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../../Metronic/assets/global/scripts/jquery.min.js"></' + 'script> ');
            document.write('<script type = "text/javascript" src = "../../Scripts/jquery-ui.js" ></' + 'script> ');

            document.write('<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></' + 'scrip> ');
            document.write('<script type = "text/javascript" src = "../../Metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js"></' + 'script> ');
            //document.getElementById("tubeWellTable").style.width = "90%";
            document.body.style.padding = "20";
        }

    </script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>

        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end
            

            var chart = am4core.create("chartContainer1", am4charts.XYChart);

            var jsonObj =  @Html.Raw((ViewData["AllData"]));
            //console.log(jsonObj)
            var data = [];
            var value = 0;
            for (var it = 0; it < jsonObj.length; it++) {
                var location = jsonObj[it].locationName;
                for (var i = 0; i < jsonObj[it].pumpStatus.length; i++) {
                    var Thedate = jsonObj[it].LogTime[i];
                    var changeDate = moment(Thedate, 'DD/MM/YYYY HH:mm:ss A').format("MM/DD/YYYY HH:mm:ss");
                    var dateObj = new Date((Thedate));
                    //console.log(dateObj);
                    value = jsonObj[it].pumpStatus[i];
                    data.push({ location: location, paramameter: 'Pump Status', date: Thedate, value: value });
                }
            }

            function toDate(dateStr) {
                var parts = dateStr.split("-")
                return new Date(parts[2], parts[1] - 1, parts[0])
            }
            //data = data.reverse();
            //data.sort(function (a, b) {
            //    var c = new Date(a.date);
            //    var d = new Date(b.date);
            //    return c - d;
            //});
            chart.data = data;
            console.log(chart.data);
            // Create axes
            //chart.dateFormatter.inputDateFormat = "dd-MM-yyyy";
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.baseInterval = {
                "timeUnit": "minute",
                "count": 1
            };
            dateAxis.tooltipDateFormat = "HH:MM, d MMMM";

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.tooltip.disabled = true;
            valueAxis.title.text = "Unique visitors";

            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.dateX = "date";
            series.dataFields.valueY = "value";
            series.tooltipText = "Visits: [bold]{valueY}[/]";
            series.fillOpacity = 0.3;


            chart.cursor = new am4charts.XYCursor();
            chart.cursor.lineY.opacity = 0;
            chart.scrollbarX = new am4charts.XYChartScrollbar();
            chart.scrollbarX.series.push(series);


            dateAxis.start = 0.8;
            dateAxis.keepSelection = true;



        }); // end am4core.ready()
    </script>
</body>


