
@{
    ViewBag.Title = "Parameter Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/custom.css" rel="stylesheet" />
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12" style="z-index:-1">
        <div class="portlet light ">
            <div class="portlet-body">


                <!-- DataTable Row -->

                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-docs font-dark"></i>
                                    <span class="caption-subject bold uppercase">PARAMETER WISE REPORT</span>
                                </div>
                                <div class="tools"> </div>
                            </div>
                            <div class="portlet-body">
                                <div id="StatusReportDiv">

                                    <div style="float: right;">
                                        <img src="~/Content/images/loading.gif" style="height: 48px;" />
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>*@

    </div>
</div>

@*<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript" src="~/Metronic/assets/global/scripts/datatable.js"></script>
<script type="text/javascript" src="~/Metronic/assets/global/plugins/datatables/datatables.min.js"></script>*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
        });
    });
</script>
<script type="text/javascript">
    getStatusResults();
    window.onload = function () {
        //alert('on load');
        var refreshId = setInterval(function () {
            var properID = getStatusResults();
            if (properID > 0) {
                clearInterval(refreshId);
            }
        }, 20000);
    }

    function getStatusResults() {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '_ParameterReportView',
            cache: false,
            success: function (result) {
                $('#StatusReportDiv').html(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#StatusReportDiv').html("");
            },
            async: true
        });
    }
</script>



