<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3RkoeqxGh4KKg8isp-PWBD2kW1rR71mQ&callback=LoadGoogleMap"></script>
        <script type="text/javascript">
            window.onload = function () {
                var refreshId = setInterval(function () {
                    var properID = LoadGoogleMap();
                    if (properID > 0) {
                        clearInterval(refreshId);
                    }
                }, 10000);
            }
            function LoadGoogleMap() {
                var markers = GetMapData();
                //   markers = JSON.parse(JSON.parse(markers1));
                // markers = JSON.parse(markers);
                // markers = JSON.parse(JSON.parse(markers));
                //  alert(markers)
                var mapOptions = {
                    center: new google.maps.LatLng(31.428300, 74.250978),
                    //center: new google.maps.LatLng(markers[0].lat, markers[0].lnt),
                    zoom: 11,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

                for (i = 0; i < markers.length; i++) {
                    //   alert(markers.length)
                    var data = markers[i]
                    // alert(data)
                    var myLatlng = new google.maps.LatLng(data.lat, data.lnt);
                    var Status = data.Status;
                    var Letter = data.Template;
                    var iconcolor = "";
                    //alert(Status);
                    //if (Status == "")
                    //if (Status == "")
                    if (Status == "False") {
                        //                      iconcolor = new google.maps.MarkerImage(
                        //  'http://www.gettyicons.com/free-icons/108/gis-gps/png/24/needle_left_yellow_2_24.png',
                        //  new google.maps.Size(24, 24),
                        //  new google.maps.Point(0, 0),
                        //  new google.maps.Point(0, 24)
                        //);
                        iconcolor = "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=";
                        iconcolor = iconcolor + "";
                        iconcolor = iconcolor + " |FF0000|000000";
                    }
                    else {
                        iconcolor = "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=";
                        iconcolor = iconcolor + "";
                        iconcolor = iconcolor + " |00FF00|000000";
                    }
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: data.title,
                        label: { text: Letter, color: "#000", fontWeight: "bold", fontsize: "8px", labelOrigin: new google.maps.Point(0, 0) },
                        icon: { url: iconcolor, origin: { x: 0, y: 0 } }
                    });
                    (function (marker, data) {
                        google.maps.event.addListener(marker, "click", function (e) {
                            infoWindow.setContent(data.description);
                            infoWindow.open(map, marker);
                        });
                    })(marker, data);

                }
            }

            function GetMapData() {
               
                var markers = '';

                //   var url = "http://wasalhr.ttlogix.com/savedata.asmx/GetData";
                //  var json = '';
                $.ajax({
                    type: "POST",
                    url: "../savedata.asmx/GetData",
                    data: "{}",

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    async: false,
                    success: function (resp) {
                        markers = eval(resp.d);


                    },
                    error: function () { debugger; }
                });
                return markers;
            }
        </script>
        <div id="dvMap" style="width:100%; height:400px;">
        </div>
