
<img src="~/Content/images/InaugurationSwitch.jpg" style="width:100%" />
<div style="width: 125px;
    height: 48px;
    
    position: absolute;
    top: 0;
    left: 0;
    margin: 694px 607px;" >
    <a href="/Tubewells/HMI" style="position: absolute;
    margin-top: 8px;
    font-size: 26px;
    color: #b9e530;
    font-weight: bolder;"> TURN ON </a>
</div>